<html ng-app="TestApp">
    <head>
        <title>The MEAN Stack App</title>
    </head>
    <body ng-controller="MainController as vm">

        <script src="assets/js/angular.min.js">
        </script>
        <script src="assets/js/app.js">
        </script>

    </body>
</html>
